################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CRUDAngular.UnitTest/bin/Debug/netcoreapp3.1
/CRUDAngular.UnitTest/obj
